<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"/>
    <link th:href="@{/bootstrap/css/bootstrap-theme.css}" rel="stylesheet"/>
    <script th:src="@{/jquery/jquery-3.0.0.min.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/common/md5.js}"></script>
    <style>
        .bg{
            background-color: #8ac007;
            color: white;
        }
        .btn-primary:hover {
            background-color: #3c763d;
        }
        .btn-primary:focus {
            background-color: #3c763d;
        }
        .btn-primary:active{
            background-color: #3e8f3e;
        }
        .btn-primary:checked{
            background-color: #3e8f3e;
        }
    </style>
</head>
<body>
<div class="modal-dialog" style="margin-top: 10%;">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-center" id="myModalLabel">登录</h4>
        </div>
        <div class="modal-body" id = "model-body">
            <form id="myForm" th:action="@{/loginCheck}" method="post">
                    <div class="form-group">
                        <input type="text" id="account" name="account" autofocus="autofocus" class="form-control"placeholder="您的用户名" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input type="password" id="passWordno" name="passWordno"  onblur="encryptPassWord();" class="form-control" placeholder="密码" autocomplete="off">
                        <br>
                    </div>
                    <input id="passWord" name="passWord" style="display: none"/>
                    <p th:if="${errormessage} == 'notfound'" class="text-warning">用户名或密码错误</p>
                    <div>
                        <table>
                            <tr>
                                <td class="btn btn-default bg" id = "userselect" onclick="select(1)">用户</td>
                                <td class="btn btn-default" id = "shopselect" onclick="select(2)">商家</td>
                            </tr>
                        </table>
                    </div>
                    <input id="type" name="type" style="display: none" value="BUYER"/>
                    <div class="modal-footer">
                        <div class="form-group" >
                            <input type="button" value="登录" class="btn btn-primary form-control bg" onclick="formSubmit()"/>
                        </div>
                        <div class="form-group">
                            <input type="button" value="注册" class="btn btn-default form-control" onclick="javascript:window.location.href='/register'"/>
                        </div>
                    </div>
            </form>
        </div>
    </div>
</div>
</body>
<script th:inline="javascript" type="text/javascript" charset="utf-8">

    var sign = 1;
    function select(i) {
        if(i==sign)return;
        if(sign==2){
            $("#userselect").addClass("bg");
            $("#shopselect").removeClass("bg");
            sign = 1;
            document.getElementById("type").value = "BUYER";
        }else{
            $("#shopselect").addClass("bg");
            $("#userselect").removeClass("bg");
            sign = 2;
            document.getElementById("type").value = "SELLER";
        }
    }

    function encryptPassWord() {
        $("#passWord").val($.md5(document.getElementById("passWordno").value));
    }

    function formSubmit() {
        var account = document.getElementById("account").value;
        var passWordno = document.getElementById("passWordno").value;
        if(account.length > 0 && passWordno.length > 0){
            document.getElementById("myForm").submit();
        }else{
            alert("请输入账号，密码");
        }
    }


</script>
</html>